.row {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-justify-end {
    justify-content: flex-end;
}

.gap-sm {
    gap: 0.15rem;
}

.center {
    max-width: 13rem;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

#theForm fieldset {
    border: none;
}

input[type='number'] {
    border: none;
    font-size: 1.3rem;
    font-weight: 550;
}

h3 {
    font-weight: lighter;
}

.plus-minus {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.colon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0;
}

#sets {
    margin-left: 1.5rem;
}

.start-btn {
    background-color: navy;
    color: white;
    display: block;
    border: none;
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.save-btn {
    background: none;
    border: none;
    float: right;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.add-btn {
    background: none;
    width: 5rem;
    border-radius: 20%/50%;
    border-color: navy;
    padding: 0.1rem 0.3rem;
    color: navy;
    font-size: 1rem;
}

#prepareCountdownText span {
    margin-left: 0;
    margin-right: 0;
    font-size: 4rem;
}

.prepare-screen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 247, 0); 
}

.sm-mgn-lft-and-rt {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.container-just-to-center {
    position: absolute;
    top: 30vh;
    left: 30vw;
}

.big-text {
    font-size: 2rem;
}

.hold-to-exit {
    background-color: cadetblue;
    color: white;
    width: 8rem;
    border-radius: 20%/50%;
    padding: 0.5rem 0.5rem;
    font-size: 1.25rem;
}

.work-screen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(10, 230, 10); 
}

#workCountdownText span {
    margin-left: 0;
    margin-right: 0;
    font-size: 4rem;
}

.rest-screen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(10, 230, 190); 
}

#restCountdownText span {
    margin-left: 0;
    margin-right: 0;
    font-size: 4rem;
}

.finished-screen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(214, 39, 39); 
}

.save-screen {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 5%;
    top: 33%;
    width: 90%; /* Nearly full width */
    height: 33%; /* A third of the page's height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; 
}

.grey-background {
    background-color: gray;
}